body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-cabin-condensed: "Cabin Condensed";
    --font-montserrat: Montserrat;
    --font-inter: Inter;
    --font-abeezee: ABeeZee;
  
    /* font sizes */
    --font-size-17xl: 36px;
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-darkorange: #f3851f;
  
    /* Paddings */
    --padding-10xs: 3px;
    --padding-7xs: 6px;
    --padding-sm: 14px;
    --padding-6xl: 25px;
    --padding-3xs: 10px;
    --padding-xs: 12px;
  
    /* Border radiuses */
    --br-10xl: 29px;
  }